<div id='lesson-form'class='lesson-page' style="margin-bottom: 50px">
  <h1 style="color: white; text-align: center; font-size: 50px; margin-top: 50px; font-family: 'Josefin Sans', sans-serif;">Study route</h1>
  <div *ngFor="let ls of Lesson; let i=index">
    <div style="color: #A80A3BFF; text-align: center; font-weight: bolder">|</div>
    <div style="color: #A80A3BFF; text-align: center;">|</div>
    <div style="color: #A80A3BFF; text-align: center;">|</div>
    <div style="display: flex;">
      <div class="app" style="margin: auto; width: 70%">
        <div class="app__container">
          <div class="grid">
            <div class="gird__full-width">
              <!-- title content -->
              <div class="container__title">
                <div class="container__block">
                  <span class="container__name">{{ls.name}}</span>
                </div>
              </div>
              <!-- end title content -->
              <!-- img -->
              <div class="image-item">
                <div style="width: 100%" [ngStyle]="{ 'background-image': 'url(' + ls.pic + ')'}" style="background-size: 1200px" alt="" class="slide__link-img"></div>
              </div>
              <!-- end img -->
              <!-- danh sách học -->
              <div class="container__study">
                <div class="container__lesson">
                  <div class="container__list">
                    <a href="/lesson/{{ls.id[j]}}" class="container__item" *ngFor="let ls1 of ls.nameLesson; let j=index">
                      <div class="container__item-left">
                        <h1 class="container__item-number">{{ ls.id[j] }}</h1>
                        <div class="container__item-tilte">{{ ls1 }}<span style="font-weight: normal; font-size: 16px; margin-left: 30px" *ngIf="role=='ROLE_USER' && ls.name != 'Basic' && ls.name != 'Basic 2' && ls.name != 'Basic 3'" >(Thành viên vip)</span></div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
