<div id='login-form'class='login-page' style="height: 650px">
    <div class="form-box">
      <h1 style="color: white; margin-left: 35%; margin-top: 30px">
        Đăng nhập
      </h1>
      <form id='login' class='input-group-login'>
        <input type='text'class='input-field'placeholder='User name' required [(ngModel)]="model.username" name="username">
        <input type='password'class='input-field'placeholder='Enter Password' required [(ngModel)]="model.password" name="password">
        <div style=" margin-top: 20px; margin-bottom: 20px">
          <a style="color: white; margin-top: 20px; margin-bottom: 40px" >Chưa có tài khoản? </a><a style="color: #f9004d;" href="auth/register">Đăng ký</a>
        </div>
        <div style=" margin-top: 20px; margin-bottom: 20px">
          <a style="color: white; margin-top: 20px; margin-bottom: 40px" >Quên mật khẩu? </a><a style="color: #f9004d;" href="forgot">Bấm vào đây</a>
        </div>
        <button type='submit'class='submit-btn' (click)="onSubmit(model)">Đăng nhập</button>

      </form>
    </div>
  </div>

